<connect-gmail-auth>
  <div class="flex-1 align-items-center d-flex">
    <div class="fa fa-spinner fa-spin" />
  </div>

  <script>
    /**
     * export default
     */
    export default class ConnectGoogleAuth {

      /**
       * on client id
       */
      onMounted() {
        // check frontend
        if (typeof window === 'undefined') return;
      }
    }
  </script>
</connect-gmail-auth>